.git
.gitattributes
.gitignore
.vs
.vscode
bin
[_][Bb]uild
Builds/*
Testing/*
.idea
cmake-build-debug
cmake-build-release
build
external/*
!external/CMakeLists.txt

README.md
CHANGELOG.md
CONTRIBUTING.md
LICENSE
