# Ignore everything by default
*

# First-order allow exception for select directories
!/.clang-format
!/.githooks
!/.git
!/CMakeLists.txt
!/Dockerfile
!/docs
!/extensions
!/extensions.repos
!external/CMakeLists.txt
!/include
!/ros2_standalone
!/setup.py
!/install_deps.py
!/src
!/test
!/tools
