*~
.#*
*#
bin
[_][Bb]uild
*.autosave
*.gz
*.zip
Session.vim
*.swp
[Tt]emp/
[Oo]bj/
Logs/
*.unityproj
*.sln
*.suo
*.userprefs
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.zip
*.pidb.meta
*.pdb.meta
*.mdb.meta
*.csproj
sysinfo.txt
.vs
.vscode
Builds/*
Testing/*
.idea
cmake-build-debug
cmake-build-release
build
external/vcpkg
CMakeSettings.json